* {
    font-family: 'Roboto',arial;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red:hsl(4, 100%, 67%);
    --background:hsl(235, 18%, 26%);
    --blue-button:hsl(234, 29%, 20%);
}

body {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

img, button, input::placeholder {
    user-select: none;
}

main {
    width: 60%;
    height: fit-content;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    padding: 0;
}

.content {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}
.image {
    width: 50%;
    height: fit-content;
}

.image img {
    width: 100%;
    height: 70vh;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.list img {
    width: 20px;
    height: 20px;
}

p {
    font-size: 0.9rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.top {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top p{
    font-size: 0.8rem;
    font-weight: 700;
}

input {
    all: unset;
    width: 100%;
    height: 2.3rem;
    border-radius: 5px;
    padding: 1rem;
    font-size: 0.8rem;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

input::placeholder {
    font-size: 0.8rem;
}

input:focus {
    outline: 1px black;
    border: 1px solid black;
    outline-color: black;
}

button {
    all: unset;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding: 0.8rem 0;
    background-color: var(--blue-button);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

button:hover {
    background: linear-gradient(120deg, var(--red), rgba(248, 142, 80, 0.918));
    box-shadow: 0 5px 20px 0.1px var(--red);
}

.error {
    background-color: rgba(255, 170, 170, 0.301);
    border: 1px solid red;
}

.closing {
    animation: ease-in-out forwards 0.3s closing;
}
.showing {
    animation: ease-in-out forwards 0.3s showing;
}

.modal {
    margin: 5rem auto;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 2rem;
    width: 40%;
    height: fit-content;
    gap: 20px;
}

.modal h1 {
    font-size: 2.5rem;
}

.modal img {
    width: 50px;
    height: 50px;
}

.userEmail {
    font-weight: 700;
}

.hide {display: none;}

.show {display: flex;}

footer {
    margin: auto;
    width: fit-content;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
}

footer p {
    font-size: 0.6rem;
    font-weight: 700;
}

@keyframes closing {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}
@keyframes showing {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:1200px) {
    main {
        width: 95%;
        height: 75vh;
    }

    .modal {
        width: 50%;
        height: fit-content;
    }
}

@media screen and (max-width:700px) {
    body {
        width: 100%;
        height: auto;
        overflow-y: auto;
    }
    
    main {
        width: 100%;
        height:120vh;
        flex-direction: column-reverse;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .image {
        width: 100%;
        height: 40vh;
        background-image: url(assets/images/illustration-sign-up-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .image img {
        display: none !important;
    }

    .content {
        width: 100%;
        height: 80vh;
    }

    .modal {
        width: 80%;
        height: fit-content;
    }

    footer {
        bottom: -150px;
        text-align: center;
    }
}